{% extends './plantillas/base.html' %}
<!doctype html>
<html class="no-js" lang="en">

<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block contenido %}

<body>
	
	<section id="new-cars" class="new-cars">
		<div class="container">
			<div class="section-header">
				<h2>Renta de Vehiculos</h2>
				<p>Llena el Formulario</p>
			</div><!--/.section-header-->
			<div class="new-cars-content">
					<div class="row">
						<div class="col-md-12">
										<form action="/val_login" method="POST">
											<fieldset>
												<legend>Login de Usuarios</legend>
												<p>Usuario:</p> <input type="text" name="usuario" class="form-control">
												<hr>
												<p>Clave: <input type="password" name="clave" class="form-control"></p>
												
											</fieldset>
											<button type="submit" class="btn btn-danger">Entrar Sistema</button>
										</form>
						</div>
					</div>
				
			</div><!--/.new-cars-content-->
		</div><!--/.container-->

	</section><!--/.new-cars-->
	
	{% include '/plantillas/footer.html' %}
</body>

</html>
{% endblock %}