{% extends '/plantillas/base.html' %}
{% block contenido %}
<footer id="contact"  class="contact">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="#">{{head}}</a>
                        </div>
                        <p>
                            Buscanos en Facebook e Instagram
                        </p>
                        <div class="footer-contact">
                            <p>rent-a-car@gmail.com.com</p>
                            <p>+1 (885) 2563154554</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-xs-12">
                    <div class="single-footer-widget">
                        <h2>Nuestras Marcas</h2>
                        <div class="row">
                            <div class="col-md-7 col-xs-6">
                                <ul>
                                    <li><a href="#">BMW</a></li>
                                    <li><a href="#">lamborghini</a></li>
                                    <li><a href="#">camaro</a></li>
                                    <li><a href="#">audi</a></li>
                                    <li><a href="#">infiniti</a></li>
                                    <li><a href="#">nissan</a></li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-xs-6">
                                <ul>
                                    <li><a href="#">ferrari</a></li>
                                    <li><a href="#">porsche</a></li>
                                    <li><a href="#">land rover</a></li>
                                    <li><a href="#">aston martin</a></li>
                                    <li><a href="#">mersedes</a></li>
                                    <li><a href="#">opel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        &copy; Sitio acondicionado para Asesorias por | RW.
                    </p><!--/p-->
                </div>
                
            </div>
        </div><!--/.footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
        
    </div><!--/.scroll-Top-->
    
</footer><!--/.contact-->
{% endblock %}