{% extends './plantillas/base.html' %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
	{% block contenido %}
	<body>
		
	
		<!--welcome-hero start -->
		{% include 'plantillas/welcome_nav.html'%}
		<!--featured-cars start -->
		<section id="featured-cars" class="featured-cars">
			<div class="container">
				<div class="section-header">
					<h2>Vehiculos en Inventario</h2>
				</div><!--/.section-header-->
				<div class="featured-cars-content">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc1.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">BMW 6-series gran coupe</a></h2>
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc2.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">chevrolet camaro <span>wmv20</span></a></h2>
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc3.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">lamborghini <span>v520</span></a></h2>
									
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc4.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">audi <span> a3</span> sedan</a></h2>
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc4.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">infiniti <span>z5</span></a></h2>
									
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc5.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">porsche <span>718</span> cayman</a></h2>
									
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc7.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#"><span>bmw 8-</span>series coupe</a></h2>
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="{{ url_for ('static', filename='imgs/featured-cars/fc8.png')}}" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: 2017
											<span class="featured-mi-span"> 3100 mi</span> 
											<span class="featured-hp-span"> 240HP</span>
											 automatic
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">BMW <span> x</span>series-6</a></h2>
									
									<p>
										Texto de la Base de Datos 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.featured-cars-->
		<!--featured-cars end -->

		<section id="new-cars" class="new-cars">
			<div class="container">
				<div class="section-header">
					<h2>Renta de Vehiculos</h2>
					<p>Llena el Formulario</p>
				</div><!--/.section-header-->
				<div class="new-cars-content">
						<div class="row">
							<div class="col-md-12">
											<form action="/guarda_renta" method="post">
												<fieldset>
													<legend>Renta de Vehículo</legend>
													<p>Usuario: 
														<select  name="usuario" id="" class="form-control">
															<option value="0">[Selecciona un Usuario]</option>
															<option value="1">Usuario 1 -- Admin </option>
															<option value="1">Usuario 2 -- Caja </option>
															<option value="2">Usuario 3 -- Capturista </option>
														</select>
													</p>
													<p>Cliente: 
														<select  name="cliente" id="" class="form-control">
															<option value="0">[Selecciona un Cliente]</option>
															<option value="1">Cliente 1 -- Auto </option>
															<option value="2">Cliente 2 -- Camioneta </option>
															
														</select>
													</p>
													Cambiar folio Dinamico
													<p>Folio:</p> <input type="text" name="folio" class="form-control" value="RC-885-01">
													<hr>
													<p>Fecha: <input type="date" name="fecha" class="form-control"></p>
													<p>Auto: 
														<select  name="auto" id="" class="form-control">
															<option value="">[Selecciona un Auto]</option>
															{% for auto in autos %}
															<option value="{{auto.0}}">{{auto.1}} -- {{auto.2}} </option>
															{% endfor %}
														</select>
													<p>Estado: <input type="text" name="estado" class="form-control" value="Disponible"></p>
													<p>Descripcion: </p><p><textarea name="descripcion" rows="8" cols="34" class="form-control"></textarea></p>
													<p>Costo Renta: <input type="text" name="crenta" class="form-control"></p>
													<p>Dias renta: <input type="text" name="dias_renta" class="form-control"></p>
													<p>Fecha Entrega: <input type="date" name="fe_entrega" class="form-control"></p>
													<p>Abono: <input type="text" name="abono" class="form-control"></p>
												</fieldset>
												<button type="submit" class="btn btn-success">Guardar Datos</button>
											</form>
							</div>
							<p>{{mensaje}}</p>
						</div>
					
				</div><!--/.new-cars-content-->
			</div><!--/.container-->

		</section><!--/.new-cars-->


		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="#">{{head}}</a>
								</div>
								<p>
									Buscanos en Facebook e Instagram
								</p>
								<div class="footer-contact">
									<p>rent-a-car@gmail.com.com</p>
									<p>+1 (885) 2563154554</p>
								</div>
							</div>
						</div>
						
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
								<h2>Nuestras Marcas</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="#">BMW</a></li>
											<li><a href="#">lamborghini</a></li>
											<li><a href="#">camaro</a></li>
											<li><a href="#">audi</a></li>
											<li><a href="#">infiniti</a></li>
											<li><a href="#">nissan</a></li>
										</ul>
									</div>
									<div class="col-md-5 col-xs-6">
										<ul>
											<li><a href="#">ferrari</a></li>
											<li><a href="#">porsche</a></li>
											<li><a href="#">land rover</a></li>
											<li><a href="#">aston martin</a></li>
											<li><a href="#">mersedes</a></li>
											<li><a href="#">opel</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; Sitio acondicionado para Asesorias por | RW.
							</p><!--/p-->
						</div>
						
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->

    </body>
	
</html>
{% endblock %}