{% extends '/plantillas/base.html' %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
    </head>
	{% block contenido %}
	<body>
	{% include '/plantillas/welcome_nav.html' %}
	<section id="new-cars" class="new-cars">
		<div class="container">
			<div class="section-header">
				<h2>{{ventana.alerta}}</h2>
				<p>{{ventana.sistema}}</p>
			</div><!--/.section-header-->
			<div class="new-cars-content">
					<div class="row">
						<div class="col-md-12">
										<form action="">
											<fieldset>
												<table width="100%"  class="table table-hover">
													<thead>
													<tr>
														<td scope="col">Marca</td>
														<td scope="col">Transmision</td>
														<td scope="col">Tipo</td>
													</tr>
												</thead>
													{% for auto in muestra %}
													<tr>
														<td>{{auto.1}}</td>
														<td>{{auto.3}}</td>
														<td>{{auto.5}}</td>
													</tr>
													{% endfor %}
												</table>
											</fieldset>
											
										</form>
						</div>
					</div>
				
			</div>
		</div>

	</section>
	{% include '/plantillas/footer.html' %}
        
    </body>
	{% endblock %}
</html>