{% extends '/plantillas/base.html' %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
    </head>
	{% block contenido %}
	<body>
	{% include '/plantillas/welcome_nav.html' %}
	<section id="new-cars" class="new-cars">
		<div class="container">
			<div class="section-header">
				
			</div><!--/.section-header-->
			<div class="new-cars-content">
					<div class="row">
						<div class="col-md-12">
										<form action="">
											<fieldset>
												<table width="100%" border="1">
													<tr>
														<td>Fecha de Renta</td>
														<td>Estatus</td>
														<td>Costo</td>
                                                        <td>Abono</td>
                                                        <td>Faltante</td>
                                                        <td>Dias de Renta</td>
                                                        <td>Folio</td>
                                                        <td>Acciones</td>
													</tr>
													{% for renta in datos %}
													<tr>
														<td>{{renta.4}}</td>
														<td>{{renta.11}}</td>
														<td>{{renta.8}}</td>
                                                        <td>{{renta.9}}</td>
                                                        <td>{{renta.10}}</td>
                                                        <td>{{renta.12}}</td>
                                                        <td>{{renta.13}}</td>
                                                        <td>Actualizar</td>
													</tr>
													{% endfor %}
												</table>
											</fieldset>
											
										</form>
						</div>
					</div>
				
			</div>
		</div>

	</section>
	{% include '/plantillas/footer.html' %}
        
    </body>
	{% endblock %}
</html>