{% extends '/plantillas/base.html' %}
<!doctype html>
<html class="no-js" lang="en">

<head>
</head>
{% block contenido %}

<body>
	{% include '/plantillas/welcome_nav.html' %}
	<section id="new-cars" class="new-cars">
		<div class="container">
			<div class="section-header">

			</div><!--/.section-header-->
			<div class="new-cars-content">
				<div class="row">
					<div class="col-md-12">
						<form action="">
							<fieldset>
								<table width="100%" class="table table-hover">
									<tr>
										<td><strong>Fecha de Renta</strong></td>
										<td><strong>Auto - Marca - Modelo</strong></td>
										<td><strong>Costo</strong></td>
										<td><strong>Abono</strong></td>
										<td><strong>Faltante</strong></td>
										<td><strong>Dias de Renta</strong></td>
										<td><strong>Folio</strong></td>
										<td><strong>Acciones</strong></td>
									</tr>
									{% for renta in datos %}
									<tr>
										<td>{{renta[3]}}</td>
										<td>{{renta[0]}} | {{renta[1]}} | {{renta[2]}}</td>
										<td>{{renta[5]}}</td>
										<td>{{renta[6]}}</td>
										<td>{{renta[7]}}</td>
										<td>{{renta[8]}} dias</td>
										<td>{{renta[9]}}</td>
										<td colspan="2">
											<a href="{{url_for('modifica', id=renta[10])}}" class="btn btn-warning">Actualizar</a> |
											<a href="{{url_for('borrado', id=renta[10])}}" class="btn btn-danger">Cancelar</a>
										</td>
										
										
									</tr>
									{% endfor %}
								</table>
							</fieldset>

						</form>
					</div>
				</div>

			</div>
		</div>

	</section>
	{% include '/plantillas/footer.html' %}

</body>
{% endblock %}

</html>